* {
	box-sizing: border-box;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.center-block {
	margin: auto;
}
body {
	font-size: 16px;
	font-family: museo-sans-rounded, sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: #000;
	line-height: 1.5;
}
nav {
	position: relative;
	padding: 20px 0;
	max-width: 1100px;
	margin: 0 auto;
	background-color: transparent;
}
nav a, nav a:visited {
	font-size: 17px;
	font-weight: 400;
	color: #008cbf;
	text-decoration: none;
}
nav a:hover {
	color: #60b0e2;
}
.logo {
	position: absolute;
	right: 46%;
	text-align: center;
}
.nav-links {
	list-style-type: none;
	padding: 0;
}
.nav-links li {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0 25px;
}
.resource-nav {
	margin-left: 210px;
}
.resource-nav:hover .resource-drop, .marketing-nav:hover .marketing-drop, .contact-nav:hover .contact-drop, .about-nav:hover .about-drop {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.marketing-drop, .resource-drop, .about-drop, .contact-drop {
	position: absolute;
	display: none;
	top: 25px;
	background-color: #fff;
	border-radius: 12px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.marketing-drop li, .resource-drop li, .about-drop li, .contact-drop li {
	padding: 10px;
}
.marketing-drop li:hover, .resource-drop li:hover, .about-drop li:hover, .contact-drop li:hover {
	cursor: pointer;
	background-color: #f7fdff;
}
.nav-btn, .mobile-nav {
	display: none;
}
.inbound-guides {
	margin: 130px auto 10px auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}
h1 {
	font-size: 45px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;
}
h2 {
	font-size: 35px;
	color: #333;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;
}
h3 {
	font-size: 25px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #8e8e8e;
}
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
	margin: 10px auto;
}
.content-img, .content-right-img {
	width: 100%;
}
.content-right-img img {
	float: right;
}
.content-info {
	width: 70%;
}
.content-info p {
	margin-bottom: 30px;
}
a.btn {
	text-decoration: none;
	background-color: #74c485;
	color: #fff;
	padding: 12px 25px;
	border: 2px solid #fff;
	border-radius: 8px;
}
a.btn:hover {
	border: 2px solid #74c485;
	background-color: #fff;
	color: #74c485;
}
.resource-library {
	margin: 100px auto 0 auto;
	padding-top: 50px;
	padding-bottom: 90px;
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.slider {
	background-color: #f3f3f3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* allows for horizontal scrolling */
	overflow-x: auto;
	/* makes it smooth for iOS */
	-webkit-overflow-scrolling: touch;
	width: 80%;
	margin: auto;
}
.slider>div {
	background-color: #fff;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 50%;
	border-radius: 6px;
	padding: 15px;
	margin-right: 10px;
}
.slider>div>h3 {
	color: #000;
	text-transform: none;
}
.slider>div>img {
	width: 100%;
}
a.resource-btn {
	text-decoration: none;
	background-color: #fff;
	font-size: 14px;
	color: #008cbf;
	padding: 10px 20px;
	border: 1px solid #008cbf;
	border-radius: 8px;
}
a.resource-btn:hover {
	border: 1px solid #008cbf;
	background-color: #008cbf;
	color: #fff;
}
footer {
	background-color: #fafafa;
	color: #222;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 40px 0;
	width: 100%;
}
footer>div {
	margin-right: 2rem;
	margin-bottom: 2rem;
}
footer ul, footer li {
	list-style-type: none;
	padding: 0
}
footer li {
	margin-bottom: 8px;
}
.services, .company, .resources {
	text-transform: uppercase;
}
footer a {
	font-weight: 300;
	color: #222;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
.phone, .location {
	font-size: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.phone {
	margin-top: 12px;
}
.location {
	margin-top: 8px;
	white-space: nowrap;
}
.phone p, .location p {
	width: 85%;
	margin: 0;
	padding: 0;
}
#search {
	width: 100%;
	padding: 6px 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
}
@media only screen and (max-width: 1200px) {
	.content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 20px auto;
	}
	.content-img img, .content-right-img img {
		margin: 0 auto;
	}
	.content-right-img img {
		float: none;
	}
	.content-img {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		order: 1;
		-webkit-order: 1;
	}
	.content-info {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		order: 2;
		-webkit-order: 2;
		width: 100%;
	}
}
@media only screen and (max-width: 1100px) {
	nav {
		max-width: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 15px;
		position: fixed;
		width: 100%;
		top: 0px;
		background-color: #fff;
		-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
		box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	}
	.logo {
		position: static;
	}
	.nav-links {
		display: none;
	}
	.marketing-drop, .resource-drop, .about-drop, .contact-drop {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-left: 5px;
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
		border-left: 2px solid #5dace0;
		position: static;
	}
	.marketing-drop li:hover, .resource-drop li:hover, .about-drop li:hover, .contact-drop li:hover {
		background-color: transparent;
		cursor: auto;
	}
	.nav-links.responsive {
		display: block;
		position: absolute;
		top: 110px;
		left: 0;
		list-style-type: none;
		padding: 20px;
		background-color: hsla(0, 0%, 100%, 0.9);
		width: 100%;
	}
	.nav-links.responsive li {
		display: block;
		padding: 0 3px;
	}
	.resource-nav {
		margin-left: auto;
	}
	.nav-btn {
		display: block;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	.nav-btn::after {
		content: "\f0c9";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 20px;
		background-color: #74c485;
		color: #fff;
		padding: 7px 11px;
		border-radius: 3px;
	}
	.nav-btn.responsive::after {
		content: "\f00d";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 20px;
		background-color: #74c485;
		color: #fff;
		padding: 7px 11px;
		border-radius: 3px;
	}
	.inbound-guides {
		margin-top: 180px;
	}
	footer {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 15px;
	}
}
@media only screen and (max-width: 900px) {
	.slider {
		display: block;
		overflow-x: hidden;
	}
	.slider>div {
		margin: 0 auto 20px auto;
		width: 100%;
	}
}
